1) demonstrate the use of the following arithmetic operators in Python on any numbers:

Addition, Subtraction, Multiplication, Division, Modulus, Exponentiation, Floor Division.

In [2]:
x=5
y=8

ADDITION

In [3]:
x+y

13

SUBTRACTION

In [4]:
x-y

-3

In [5]:
y-x

3

MULTIPLICATION

In [6]:
x*y

40

DIVISION

In [7]:
y/x

1.6

MODULUS

In [9]:
y%x

3

EXPONENTATION

In [10]:
x**y

390625

FLOOR DIVISION

In [11]:
7//2

3

In [12]:
7.5//2

3.0

In [13]:
-7//2

-4

2) Write Python expressions using comparison operators (less than, greater than, equal to, not equal to) and evaluate them. Include examples with both numbers and strings.

In [14]:
10<12

True

In [15]:
17>13

True

In [16]:
17<12

False

In [17]:
12>100

False

In [18]:
12==12

True

In [19]:
12!=13

True

In [20]:
12!=12

False

In [23]:
a="Manish"
b="MANISH"
c="manish"
d="Manish"

In [24]:
a==b

False

In [25]:
a==d

True

In [26]:
a!=d

False

3) Create a string variable and use the ' in ' and ' not in ' keywords to check for the presence or absence of a substring within the string EX : " Python Is Powerfull language". & Print the results.

In [27]:
txt=" Python Is Powerfull language."

In [28]:
print("Code" in txt)

False

In [30]:
print ("Python" not in txt)

False

In [31]:
print("Python" in txt)

True

4) Define a list with at least three elements. Use a for loop to print each element of the list.

In [32]:
Brij=['Mathura', 'Vrindavan', 'Goverdhan', 'Barsana', 'Gokul']

In [34]:
for i in Brij:
    print(i)

Mathura
Vrindavan
Goverdhan
Barsana
Gokul

5) Use the range() function to print numbers from 10 to 1 using a for loop.

In [35]:
range(10)

range(0, 10)

In [36]:
range(10,1)

range(10, 1)

In [38]:
print(range(10,1))

range(10, 1)

In [41]:
for i in range(10,1):
    print(i)

for i in range(10,1):
    print(i)

In [42]:
for i in range(10,1):
    print(i)

In [43]:
for i in range(10,1,1):
    print(i)

In [44]:
range(10)

range(0, 10)

In [45]:
range(-10)

range(0, -10)

In [46]:
for i in range(0,-10):
    print(i)

In [47]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [48]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

6) Create a string variable and demonstrate the following string methods: slicing, negative indexing, converting to uppercase converting to lowercase, stripping whitespace, replacing a substring, and splitting the string.

In [49]:
a='My name is Manish Mahawar.'

In [50]:
a[:]

'My name is Manish Mahawar.'

In [51]:
a[2:5]

' na'

In [53]:
a[:5]

'My na'

In [54]:
a[-1]

'.'

In [55]:
a.upper()

'MY NAME IS MANISH MAHAWAR.'

In [56]:
a.lower()

'my name is manish mahawar.'

In [57]:
a.title()

'My Name Is Manish Mahawar.'

In [58]:
a.strip()

'My name is Manish Mahawar.'

In [59]:
a.split("is")

['My name ', ' Man', 'h Mahawar.']

In [60]:
a.replace("Manish", "Shivansh")

'My name is Shivansh Mahawar.'

7) Create a list inside list with at least five elements of different data types. Print the list.

In [64]:
list1=['Delhi',['East Delhi','West Delhi','South Delhi','North Delhi'],'UP', 'Haryana',['Faridabad','Ballabhgarh','Gurugram'],'Rajasthan']

In [65]:
print(list1)

['Delhi', ['East Delhi', 'West Delhi', 'South Delhi', 'North Delhi'], 'UP', 'Haryana', ['Faridabad', 'Ballabhgarh', 'Gurugram'], 'Rajasthan']

8) Access and print same item from the list using both positive and negative indexing.

In [73]:
list1=['Delhi',['East Delhi','West Delhi','South Delhi','North Delhi'],'UP', 'Haryana',['Faridabad','Ballabhgarh','Gurugram'],'Rajasthan']

In [74]:
list1[2]

'UP'

In [75]:
list1[1]

['East Delhi', 'West Delhi', 'South Delhi', 'North Delhi']

In [76]:
list1[-5:-3]

[['East Delhi', 'West Delhi', 'South Delhi', 'North Delhi'], 'UP']

In [78]:
list1[-1]

'Rajasthan'

In [79]:
list1[-2:-4]

[]

In [80]:
list1[-2]

['Faridabad', 'Ballabhgarh', 'Gurugram']

In [82]:
list1[-2][1]

'Ballabhgarh'

9) Modify elements of a list by using the append(), insert(), remove(), pop(), and del methods. Print the list after each operation.

In [83]:
list1.append('Sikkim')

In [86]:
print(list1)

['Delhi', ['East Delhi', 'West Delhi', 'South Delhi', 'North Delhi'], 'UP', 'Haryana', ['Faridabad', 'Ballabhgarh', 'Gurugram'], 'Rajasthan', 'Sikkim']

In [87]:
list1.insert(1,'Bihar')

In [88]:
print(list1)

['Delhi', 'Bihar', ['East Delhi', 'West Delhi', 'South Delhi', 'North Delhi'], 'UP', 'Haryana', ['Faridabad', 'Ballabhgarh', 'Gurugram'], 'Rajasthan', 'Sikkim']

In [90]:
list1.pop(1,/)

SyntaxError: invalid syntax (29259796.py, line 1)

In [91]:
my_list=[10,20,30,40,50]

In [92]:
removed_element=my_list.pop(2)

In [93]:
print(my_list)

[10, 20, 40, 50]

In [97]:
del my_list[0]

In [98]:
print(my_list)

[20, 40, 50]

In [101]:
my_list.remove(50)

In [102]:
print(my_list)

[20, 40]

10) Join two lists and print the all item using for loop and also check is "data" present in list using "if else" statement. list_1 = [ 1,2,3,4,"power", True] and list_2= ["one", "two","Three", "Data", False]

In [103]:
list1=['Manish','Shivansh','Anjali']
list2=[38,6,32]

In [104]:
list1+list2

['Manish', 'Shivansh', 'Anjali', 38, 6, 32]

In [105]:
if "Manish" in list1:
    print("Yes, Manish is present")
else:
    print("not present")

Yes, Manish is present

In [107]:
if "Raju" in list2:
    print("Yes present")
else:
    print("not present")

not present