Question 1: If Statements

Write an if statement to compare two variables, a and b. If b is greater than a, print a message saying "b is greater than a".

In [2]:
a=150
b=300

In [4]:
if a<b:
    print("b is greater than a")

b is greater than a

Question 2: If-Else Statements

Write an if-else statement to compare two variables, a and b. If b is greater than a, print "b is greater than a". Otherwise, print "a and b are equal".

In [6]:
a=150
b=150

In [8]:
if a<b:
    print("b is greater than a")
else:
    print("a and b are equal")

a and b are equal

Question 3: If-Elif-Else Statements

Write an if-elif-else statement to compare two variables, a and b. If b is greater than a, print "b is greater than a". If a and b are equal, print "a and b are equal". Otherwise, print "a is greater than b".

In [28]:
a=10
b=10

In [30]:
print(a)
print(b)

10
10

In [31]:
if a<b:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

a and b are equal

Question 4: Create and Access Tuple

Create a tuple with the elements ("apple", "banana", "cherry"). Access and print the second element of the tuple.

In [32]:
fruits=("apple", "banana", "cherry")

In [33]:
fruits[1]

'banana'

Question 5: Tuple with One Item

Create a tuple with a single item "apple". Print the type of the tuple to confirm it's a tuple.

In [34]:
name=("Manish",)

In [35]:
type(name)

tuple

Question 6: Check if Item Exists in Tuple

Create a tuple with the elements ("apple", "banana", "cherry"). Check if the item "apple" exists in the tuple and print the result.

In [36]:
fruits=("apple", "banana", "cherry")

In [37]:
print("apple" in fruits)

True

Question 7: Convert Tuple to List and Modify

Convert a tuple ("apple", "banana", "cherry") to a list. Change the second item to "kiwi" and convert it back to a tuple. Print the modified tuple.

In [38]:
fruits=("apple", "banana", "cherry")

In [39]:
x=list(fruits)

In [40]:
x[1]="kiwi"

In [41]:
tuple(x)

('apple', 'kiwi', 'cherry')

Question 8: Add and Remove Items from Set

Create a set with the elements {"apple", "banana", "cherry"}. Add "orange" to the set and remove "banana". Print the modified set.

In [43]:
fruits={"apple", "banana", "cherry"}

In [44]:
fruits.add("orange")

In [46]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [47]:
fruits.remove("banana")

In [48]:
fruits

{'apple', 'cherry', 'orange'}

Question 9: Loop Through Tuple

Create a tuple with the elements ("apple", "banana", "cherry"). Use a for loop to print each item in the tuple.

In [49]:
fruits=("apple", "banana", "cherry")

Question 10:

Create a set with the elements {"apple", "banana", "cherry"}. Update it with another set {"pineapple", "mango", "papaya"} and a list ["kiwi", "orange"]. Print the updated set.

In [58]:
x={"apple", "banana", "cherry"}

In [59]:
y={"pineapple", "mango", "papaya"}

In [60]:
x.update(y)

In [61]:
x

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [62]:
z=["kiwi","orange"]

In [63]:
x.update(z)

In [64]:
x

{'apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'papaya', 'pineapple'}